html, body{
    margin: 0;
    padding: 0;
}
.canvas{
    margin: 100px auto 100px;
    width: 100%;
    text-align: center;
}

.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 4px 8px #c4c3c3;
}

span{
    display: block;
}

#pink{
    background-color: #ffc0cb;
}

#aqua{
    background-color: #00ffff;
}

#khaki{
    background-color: #f0e68c;
}

#darksalmon{
    background-color: #e9967a;
}

#burlywood{
    background-color: #deb887;
}

#chartreuse{
    background-color: #7fff00;
}

#cornflowerblue{
    background-color: #6495ed;
}

#skyblue{
    background-color: #91d2d9;
}

