body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #00ffff;
}

.container{
    text-align: center;
    border: solid black 2px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2cb1dd;
}

button{
    border-radius: 5px;
    margin: 10px;
    background-color: #4646fd;
    color: white;
}

#height, 
#weight{
    border-radius: 5px;
    border: solid #a8a8a8 2px;
}

.weight-guide h3{
    text-decoration: underline;
}

#result{
    font-size: 50px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: solid #ddd 1px;
}